:root {

  --background-1: #FEFBFE;			/* N1 10 	*/
  --background-2: #E5E2DC;			/* N1 100	*/
  --background-3: #F5F0EB;			/* N1 50	*/
  --border-color: #AEABA6;			/* N1 300	*/
  --foreground-1: #32302C;			/* N1 800	*/
  --foreground-2: #92908B;			/* N1 400	*/
 
  --sn-stylekit-neutral-color: var(--foreground-2); 
  --sn-stylekit-neutral-contrast-color: black;			
  --sn-stylekit-info-color: #B6AB88;		/* A3 300	*/
  --sn-stylekit-info-contrast-color: black;			
  --sn-stylekit-success-color: #66BB6A;		/* Ax 400	*/
  --sn-stylekit-success-contrast-color: black;			
  --sn-stylekit-warning-color: #FFCA28;		/* Ax 400	*/
  --sn-stylekit-warning-contrast-color: black;	
  --sn-stylekit-danger-color: #EF5350;		/* Ax 400	*/			
  --sn-stylekit-danger-light-color: var(--background-2);		
  --sn-stylekit-danger-contrast-color: black;
			
  --sn-stylekit-shadow-color: var(--border-color); 		
  --sn-stylekit-background-color: var(--background-1);	
  --sn-stylekit-border-color: var(--border-color);		
  --sn-stylekit-foreground-color: var(--foreground-1);		
  --sn-stylekit-contrast-background-color: var(--background-3);		
  --sn-stylekit-contrast-border-color: var(--border-color);		
  --sn-stylekit-contrast-foreground-color: var(--foreground-1);		
  --sn-stylekit-secondary-background-color: var(--background-2);	
  --sn-stylekit-secondary-foreground-color: var(--foreground-1);	
  --sn-stylekit-secondary-border-color: var(--border-color);		
  --sn-stylekit-secondary-contrast-background-color: var(--background-2);	 
  --sn-stylekit-secondary-contrast-foreground-color: var(--foreground-1);	 
  --sn-stylekit-editor-background-color: var(--background-1);	
  --sn-stylekit-editor-foreground-color: var(--foreground-1);	
  --sn-stylekit-paragraph-text-color: var(--foreground-1);		
  --sn-stylekit-input-placeholder-color: var(--foreground-2);		
  --sn-stylekit-scrollbar-thumb-color: var(--sn-stylekit-info-color);		
   --sn-stylekit-passive-color-0: var(--foreground-2);  					 		
  --sn-stylekit-passive-color-1: var(--foreground-2);	 		
  --sn-stylekit-passive-color-2: var(--background-2);	 		
  --sn-stylekit-passive-color-3: var(--border-color);		
  --sn-stylekit-passive-color-4: var(--background-2);	
  --sn-stylekit-passive-color-4-opacity-variant: var(--background-2);	
  --sn-stylekit-passive-color-5: var(--background-3);			
  
  --sn-stylekit-accessory-tint-color-1: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-2: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-3: var(--sn-stylekit-info-color); 
  --sn-stylekit-accessory-tint-color-4: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-5: var(--sn-stylekit-info-color);
  --sn-stylekit-accessory-tint-color-6: var(--sn-stylekit-info-color); 

  --navigation-item-selected-background-color: var(--sn-stylekit-background-color);
}

